<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>
 <div>
 <h5>Tambah Mahasiswa</h5>
 	<form class="form-inline my-2 my-lg-0">
 		<input class="form-control mr-sm-2"
 				type="text"
 				placeholder="Masukkan NPM"
 				aria-label="NPM" />
 		<input class="form-control mr-sm-2"
 				type="text"
 				placeholder="Masukkan NPM"
 				aria-label="NPM" />
 		<input class="form-control mr-sm-2"
 				type="text"
 				placeholder="Masukkan NPM"
 				aria-label="NPM" />
 				
 	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
 		Lihat
 	</button>
 	</form>
 </div>
</body>
</html>