<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>
 <div class="container">
			<h1>Sistem Informasi Kemahasiswaan</h1>
			<h5>Selamat datang di Sistem Informasi Kemahasiswaan</h5>
			<div>
				<h3>Lihat Data Penduduk Mahasiswa Berdasarkan NPM</h3>
				<form action="/student/view" method="get">
					<div>
						<div>
							<strong><label for="npm">Masukkan Nomor Pokok Mahasiswa</label></strong>
						</div>
						<input type="text" name="npm" />
					</div>
					<div>
						<button class="button" type="submit">Lihat</button>
					</div>
				</form>
			</div>
		</div>
</body>
</html>